body{font-family: 'Poppins', sans-serif; color: #383838}

.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.header-area.sticky .navbar-default{
	background-color: #884bdf;
}

#home{background-color: hsla(0,0%,0%,1.00); color: #fff}

.section{padding: 150px 0px}

h1{font-weight: 1000; padding: 10px 0px }
h2{font-weight: 900; padding: 10px 0px }

p{font-size: 15px}

#home .section{padding: 200px 0px}


.btnper{text-transform: uppercase; padding: 20px 0px; font-weight: 500; letter-spacing: 2px}

.imghome{width: 653px}

.btnper:hover{font-weight: 1000; letter-spacing: 2px}

.capacolor{width: 270px; position: relative; background-color: hsla(0,0%,0%,1.00); opacity: 0.4; top: 0; z-index: 100; height: 360px; text-align: center}
.capaabajo{position: absolute; z-index: 8; top: 0; text-align: center}
.capatexto{position: absolute; top: 0; z-index: 120; text-align: center}

#Services{text-align: center!important; padding-bottom: 70px}

.txt{text-align: center!important; color: #fff;  font-weight: 800; margin: 150px 105px}
#productos{background-color: hsla(24,89%,93%,1.00);padding: 15px 0px}

#quote h4{font-size: 12px; letter-spacing: 2px}
#quote h5{font-weight 100}

#quote .section{padding: 82px 85px}

.btn-2{background-color: #222; color: #fff; margin: 15px 0px; text-transform: uppercase; font-size: 12px; padding: 10px 20px}

.quoteimg {width: 570px}

.imgtrendy{width: 600px; margin: 50px}

#quote p{font-size: 18px}

#contact .section{padding: 60px 0px}

footer{padding: 50px 0px; background-color: #000; text-align: center; color: #fff!important}

.formlinea{border-bottom: 2px solid #222; border-radius: 0px}

footer i{color: #fff!important}

#gris{width: 1080px; background-color: #C6C6C6; padding: 50px}
